a {
	color: inherit;
}


.header {
	background-color: #1B2D37;
}

.header h1, .header p {
	color: #FFF;
}

.header__button {
	color: #FFF;
	background-color: #00B2FF;
}

.header__button:hover {
	color: #00B2FF;
	background-color: #FFF;
}

.header__item a>p {
	color: #FFF;
	opacity: 0.5;
}


.advantages {
	background-color: #FFF;
}

.advantages__item h4 {
	color: #00B2FF;
}	

.advantages__item p {
	color: #666666;
}	

.advantages__item:hover {
	background-color:#00B2FF;
}	

.advantages__item:hover svg path {
	fill: #FFF;
}

.advantages__item:hover h4 {
	color: #FFF;
}

.advantages__item:hover p {
	color: #FFF;
}


.about-company {
	background-color: #FFF;
}

.about-company_text h3 {
	color: #666666;
}	

.about-company_text p {
	color: #666666;
}	

.about-company__button {
	background-color: #FFF;
	color: #00B2FF;
}	

.about-company__button:hover {
	background-color: #00B2FF;
	color: #FFF;
}	


.services {
	background-color: #1B2D37;
}

.services h2, .services p {
	color: #FFF;
}

.services__production, .services__montage, .services__complect {
	background-blend-mode: overlay;
	background-color: rgba(27, 45, 55, 0.7);
}

.services__button {
	background-color: #00B2FF;
	color: #FFF;
}

.services__button:hover {
	background-color: #FFF;
	color: #00B2FF;
}


.consult {
	background-color: #00B2FF;
	color: #FFF;
}

.consult input, .consult textarea {
	background-color: rgba(0, 0, 0, 0.1);
	color: #FFF
}

.consult__button {
	background-color: #00B2FF;
	color: #FFF;
}

.consult__button:hover {
	background-color: #FFF;
	color: #00B2FF;
}

.footer {
	background-color: #FFF;
}

.footer h4, .footer p {
	color: #1B2D37;
}

.footer p {
	opacity: 0.5;
}

.footer__bottom-container {
	border-top: 1px solid rgba(98, 105, 98, 0.2);
}
