.consult {
  height: 670px;
  background-image: url("../../images/consult-fon.svg");
  background-position: strech;
  padding: 5% 11% 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.consult img {
  width: 511px;
  height: 288px;
}
@media (max-width: 1023px) {
  .consult img {
    display: none;
  }
}
.consult__form textarea {
  width: 570px;
  height: 154px;
}
.consult__button {
  width: 270px;
  height: 45px;
  border-radius: 5px;
  padding: 20px 50px;
}
.consult__button:hover {
  cursor: pointer;
}
