
.consult {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 670px;
}

.consult img {
	height: 288px;
	width: 511px;
}

@media (min-width: 768px) and (max-width: 1023px) {
	.consult img {
		display: none;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.consult img {
		display: none;
	}
}
/*checkbox исключить*/
.consult input {
	width: 48%;
}

.consult input:focus {
  border-color: #FFF;
}

.consult input, .consult textarea {
	border: 1px solid #00B2FF;
}

.consult textarea {
	width: 100%;
}

.consult textarea:focus {
  border-color: #FFF;
}

.consult__button {
	border: 1px solid #FFF;
	border-radius: 5px;
	padding: 20px 50px;
}

.consult__button:hover {
	border: 1px solid #00B2FF;
	cursor: pointer;
}

